@model SiCAEWeb.Models.NotificacaoModel

@{
    ViewData["Title"] = "AdicionarNotificacao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h4>NotificacaoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdicionarNotificacao">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="titulo" class="control-label"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="prioridade" class="control-label"></label>
                <select asp-for=" prioridade" class="form-control">
                    <option value="Alta">Alta</option>
                    <option value="Média">Média</option>
                    <option value="Baixa">Baixa</option>
                </select>
                <span asp-validation-for="prioridade" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="remetente" class="control-label"></label>
                <select asp-for="remetente" class="form-control">
                    <option value="Diretor">Diretor</option>
                    <option value="Professor">Professor</option>
                </select>
                <span asp-validation-for="remetente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Para quem deseja enviar? </label>
                <br />
                <input asp-for="notificaResponsavel" type="checkbox" id="inputNotificarResp">
                <label for="Responsavel">Responsavel</label>
            </div>

            <div>
                <input asp-for="notificaProfessor" type="checkbox" id="inputNotificarProf">
                <label for="Professor">Professor</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Inserir" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
