@{
    ViewData["Title"] = "Início";
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-2">
            <a href="/aluno" class="btn btn-primary rounded-pill">Aluno</a>
        </div>
        <div class="col-2">
            <a href="/diahora" class="btn btn-primary rounded-pill">Horarios</a>
        </div>
        <div class="col-2">
            <a href="/disciplina" class="btn btn-primary rounded-pill">Disciplina</a>
        </div>
        <div class="col-2">
            <a href="/escola" class="btn btn-primary rounded-pill">Escola</a>
        </div>
        <div class="col-2">
            <a href="/pessoa" class="btn btn-primary rounded-pill">Pessoa</a>
        </div>
    </div>
</div>
