@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique a sua caixa de e-mail para mudar a sua senha.
</p>

