@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmar e-mail";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Este app ainda não tem um serviço de envio de e-mails, veja <a href="https://aka.ms/aspaccountconf">este artigo</a> para confirmar um serviço real de envio de e-mails.
    Normalmente, isto seria enviado para o seu e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar seu e-mail</a>
</p>
    }
    else
    {
<p>
        Por favor, verifique seu e-mail para confirmar eu e-mail.
</p>
    }
}
