@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi redefinida. Por favor, <a asp-page="./Login">clique aqui para entrar</a>.
</p>
