@model SiCAEWeb.Models.DiahoraModel

@{
    ViewData["Title"] = "Novo Horário";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2>Horário</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Novo</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--
    <div class="form-group">
        <label asp-for="IdDiahora" class="control-label"></label>
        <input asp-for="IdDiahora" class="form-control" />
        <span asp-validation-for="IdDiahora" class="text-danger"></span>
    </div>
    -->
                <div class="form-group">
                    <label asp-for="HorarioInicio" class="control-label"></label>
                    <input asp-for="HorarioInicio" class="form-control" />
                    <span asp-validation-for="HorarioInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HorarioTermino" class="control-label"></label>
                    <input asp-for="HorarioTermino" class="form-control" />
                    <span asp-validation-for="HorarioTermino" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaSemana" class="control-label"></label>
                    <input asp-for="DiaSemana" class="form-control" />
                    <span asp-validation-for="DiaSemana" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary rounded-pill" />
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a asp-action="Index" class="btn btn-secondary rounded-pill">Voltar</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
